extends ../layout/base.pug
block config
    - var title = 'Partners'
    - var page = 'partners'
block content
    section.block.dev_1
        .wrapper
            h1.title.dev_1__title For developers
            p.dev_1__text W-profit playable ads media buying solution - it's a marketplace for playable ads, hundreds advertisers, stable payments. We are looking for developers and teams who has more than 1 year of experience in the development of Playable ads, start making money with us now!
            a.dev_1__btn.btn.btn--red(href="http://platform.w-profit.com/login") Sign in now
    section.block.dev_2
        .wrapper
            h1.title.dev_2__title Features
            .dev_2__items
                .dev_2__item
                    img.dev_2__img(src=require("../images/developers_1.svg") alt="Transparency and stability")
                    h2.dev_2__item__title Transparency and stability
                    p.dev_2__text Be the part of a large marketplace with simple billing and in-time payouts.
                .dev_2__item
                    img.dev_2__img(src=require("../images/developers_2.svg") alt="Enterprise-level companies")
                    h2.dev_2__item__title Enterprise-level companies
                    p.dev_2__text Challenge yourself with really interesting tasks from worldwide known brands.
                .dev_2__item
                    img.dev_2__img(src=require("../images/developers_3.svg") alt="Hassle-free workflow")
                    h2.dev_2__item__title Hassle-free workflow
                    p.dev_2__text Work from anywhere, maintaining clear communication through integrated project tracking platform.
    section.block.dev_3
        .wrapper
            h1.title.dev_3__title Testimonials and case studies
            .dev_3__items
                .dev_3__item
                    h2.dev_3__item__title How can I sign up?
                    .dev_3__showmore_wrapper
                        p.dev_3__showmore_content
                            | We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc.
                .dev_3__item
                    h2.dev_3__item__title How many apps can I work with?
                    .dev_3__showmore_wrapper
                        p.dev_3__showmore_content
                            | We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc.
                .dev_3__item
                    h2.dev_3__item__title How and when do I get paid?
                    .dev_3__showmore_wrapper
                        p.dev_3__showmore_content
                            | We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc. We pay you money every month, by Epayments, Wire, etc.