.about {
  &_1 {
    background: url(../images/about-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0 150px;
    @media (max-width: $tablet-bp) {
      padding: 150px 0 100px;
    }
    @media (max-width: $mobile-bp) {
      padding: 100px 0 70px;
    }

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      color: #ffffff;
      margin-bottom: 30px;
      font-size: 56px;
      @media (max-width: $mobile-bp) {
        font-size: 30px;
      }
    }

    &__text {
      color: #ffffff;
      font-size: 17px;
      margin-bottom: 45px;
      line-height: 1.5;
      @media (max-width: $mobile-bp) {
        font-size: 13px;
      }
    }
  }

  &_2 {
    padding-top: 100px;

    &__title {
      margin-bottom: 50px;
    }

    &__items {
      display: flex;
      justify-content: space-between;
      @media (max-width: $tablet-bp) {
        flex-direction: column;
      }
    }

    &__item {
      padding: 50px;
      flex: 0 0 calc(100% / 3 - 15px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0px 5px 10px rgba(143, 143, 143, 0.25));
      background: #ffffff;
      @media (max-width: $tablet-bp) {
        margin-bottom: 30px;
        margin-right: 0;
      }

      &__title {
        font-size: 18px;
        margin-bottom: 15px;
        align-self: flex-start;
      }
    }

    &__img {
      margin-bottom: 50px;
      max-width: 175px;
    }

    &__text {
      line-height: 1.5;
    }
  }

  &_3 {
    padding-top: 110px;

    &__title {
      margin-bottom: 60px;
    }

    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
      @media (max-width: $mobile-bp) {
        flex-direction: column;
      }
      & > video, & > img {
        max-width: 250px;
        background: #ffffff;
        border-radius: 30px;
        padding: 40px 8px;
        filter: drop-shadow(0px 5px 18px rgba(143, 143, 143, 0.25));
        @media (max-width: $mobile-bp) {
          margin-bottom: 40px;
        }
      }

      &:nth-child(2n + 1) {
        & > video, & > img {
          margin-right: 55px;
          @media (max-width: $mobile-bp) {
            margin-right: 0;
            max-width: 50%;
          }
        }
      }

      &:nth-child(2n) {
        flex-direction: row-reverse;
        @media (max-width: $mobile-bp) {
          flex-direction: column;
        }

        & > video, & > img {
          margin-left: 55px;
          @media (max-width: $mobile-bp) {
            margin-left: 0;
            max-width: 50%;
          }
        }
      }
    }

    &__texts {
      &__title {
        font-size: 18px;
        margin-bottom: 35px;
        transition: $transition-common;
        cursor: pointer;
        &:hover {
          color: #167fff;
        }
      }

      &__img {
        margin-bottom: 10px;
        width: 37px;
        height: auto;
      }

      &__items {
        display: flex;
      }

      &__item {
        display: flex;
        flex-direction: column;

        &:first-child {
          margin-right: 60px;
          position: relative;

          &:after {
            content: '';
            width: 1px;
            height: 100%;
            background: #cad9e4;
            position: absolute;
            right: -30px;
            top: -5px;
          }
        }

        span {
          margin-bottom: 5px;
        }

        p {
          font-size: 35px;
        }
      }
    }

    &__img {

    }
  }
}