.backgrounds {
  .background {
    &__wrapper {
      position: relative;
    }

    &--desk {
      @media (max-width: $tablet-bp) {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @media (max-width: $tablet-bp) {
        display: block;
      }
      @media (max-width: $mobile-bp) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @media (max-width: $mobile-bp) {
        display: block;
      }
    }

    &_1 {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      @media (max-width: $tablet-bp) {
        transform: rotate(-45deg);
        top: 150px;
        max-width: initial;
        width: 140%;
        left: -175px;
      }
      @media (max-width: $mobile-bp) {
        top: 700px;
        width: 100%;
        left: 0;
        transform: none;
      }
    }

    &_2 {
      max-width: 100%;
      position: absolute;
      top: -75px;
      left: 0;
      right: 0;
      z-index: -1;
      @media (max-width: $tablet-bp) {
        display: none;
      }
    }
  }
}