.block_1 {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 160px;
  padding-bottom: 270px;
  @media (max-width: $tablet-bp) {
    padding-top: 130px;
    padding-bottom: 170px;
  }
  @media (max-width: $mobile-bp) {
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 55px;
    @media (max-width: $tablet-bp) {
      background: transparent;
    }
  }
  &__logo {
    margin-bottom: 110px;
    @media (max-width: $tablet-bp) {
      margin-bottom: 90px;
    }
    @media (max-width: $mobile-bp) {
      max-width: 220px;
      height: auto;
      margin-bottom: 50px;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    background: $white;
    padding: 50px 0 50px;
    @media (max-width: $tablet-bp) {
      justify-content: space-between;
    }
    @media (max-width: $mobile-bp) {
      flex-direction: column;
      background: transparent;
    }
  }
  &__title {
    margin-bottom: 100px;
    @media (max-width: $tablet-bp) {
      font-size: 1.72rem;
      margin-bottom: 0;
      padding-bottom: 100px;
      background: $white;
    }
    @media (max-width: $mobile-bp) {
      padding-bottom: 60px;
    }
  }
  &__item {
    text-align: center;
    padding: 5px 50px;
    flex: 0 0 auto;
    position: relative;
    p {
      font-size: 18px;
    }
    @media (max-width: $tablet-bp) {
      padding: 0;
      flex: 0 0 calc(100% / 3 - 20px);
    }
    @media (max-width: $mobile-bp) {
      margin-bottom: 50px;
      flex: 0 0 auto;
    }
    span {
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      text-align: center;
      color: $grey;
      font-size: 0.875rem;
      @media (max-width: $tablet-bp) {
        bottom: -5px;
      }
      @media (max-width: $mobile-bp) {
        font-size: 0.777rem;
        bottom: -30px;
      }
    }
    &:nth-child(2) {
      @media (max-width: $mobile-bp) {
        margin-bottom: 90px;
      }
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background: $block-1-border;
        @media (max-width: $tablet-bp) {
          display: none;
        }
        @media (max-width: $mobile-bp) {
          display: block;
          height: 1px;
          width: 30px;
          left: 0;
          right: 0;
        }
      }
      &:before {
        left: 0;
        @media (max-width: $mobile-bp) {
          bottom: auto;
          top: -25px;
          left: calc(50% - 15px);
        }
      }
      &:after {
        right: 0;
        @media (max-width: $mobile-bp) {
          top: auto;
          bottom: -60px;
          left: calc(50% - 15px);
        }
      }
    }
  }
}