.block_3 {
  display: flex;
  justify-content: center;
  @media (max-width: $mobile-bp) {
    margin-top: 70px;
    padding-top: 100px;
  }
  &__title {
    margin-bottom: 70px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 80px;
    max-width: 70%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(100% / 3);
    margin-bottom: 80px;
    @media (max-width: $tablet-bp) {
      margin-bottom: 100px;
    }
    @media (max-width: $mobile-bp) {
      flex: 0 0 50%;
      margin-bottom: 60px;
    }
    img {
      margin-bottom: 30px;
      @media (max-width: $tablet-bp) {
        margin-bottom: 15px;
      }
      @media (max-width: $mobile-bp) {
        max-width: 60px;
        height: auto;
        margin-bottom: 20px;
      }
    }
    p {
      text-align: center;
      @media (max-width: $mobile-bp) {
        max-width: 80%;
      }
    }

  }
}