.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #0c217d;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    &--left {
      @media (max-width: $tablet-bp) {
        position: absolute;
        background: #0c217d;
        flex-direction: column;
        top: 99%;
        width: 100%;
        left: 0;
        right: 0;
        transition: $transition-common;
        transform: translateY(-50vh);
        .open & {
          transform: translateY(0);
        }
      }
      & > * {
        @media (max-width: $tablet-bp) {
          margin-right: 0 !important;
          padding: 8px 20px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__sign_up {
    background: transparent;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 20px;
    margin-right: 50px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: #ffffff;
      color: #0c217d;
    }
  }

  &__link {
    margin-right: 50px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 1px;
      transition: all 0.2s ease-in-out;
      @media (max-width: $tablet-bp) {
        width: auto;
        left: 20px;
        right: 20px;
        bottom: 0;
      }
    }

    &.active:before {
      background: #ffffff;
    }
    &:hover {
      color: #9ea6d7;
    }
  }

  &__menu_button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0;
    display: none;
    @media (max-width: 1024px) {
      display: block;
      margin-left: 15px;
    }
    & .opener {
      .open & {
        display: none;
      }
    }
    & .closer {
      display: none;
      .open & {
        display: block;
      }
    }
  }
}