$header-red: #ff0056;
$header-border-hover: #950334;
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.6);
$block-1-border: #cad9e4;
$grey: #757575;
$blue: #1781ff;

$transition-common: all 0.2s ease;

$container-width: 1200px;
$tablet-bp: 1024px;
$mobile-bp: 480px;