footer.footer
    .wrapper
        .title.footer__title Contacts
        .footer__contacts.footer__contacts--desktop
            .footer__column
                .footer__row
                    a.footer__soc_link(href='https://www.linkedin.com/company/w-profit' target='_blank')
                        img(src=require('../images/in.svg') width=28 height=28)
                    a.footer__soc_link(href='https://www.facebook.com/W-profit-443121196113356/' target='_blank')
                        img(src=require('../images/fb.svg') width=28 height=28)
                .footer__row
                    img.footer__logo(src=require("../images/logo.png"))
            .footer__column
                div
                    a(href='mailto:hello@w-profit.com').footer__link hello@w-profit.com
                    br
                    a(href='https://cyprus.hh.ru/employer/3406479' target='_blank').footer__link Career
                    br
                    a(href='https://cyprus.hh.ru/employer/3406479' target='_blank').footer__link Privacy Policy
            .footer__column
                p.footer__address_title Prevezis 13 Flat/Office 101 Nicosia, 1065 Cyprus
                p.footer__text W-profit is a mobile ad tech agency. We are dedicated to empowering our partners with sophisticated solutions that make it simple for app developers to connect with target audiences.
                p.footer__text © 2018 W-profit LTD – All rights reserved.

