header.header
    button.header__menu_button
        img(src=require("../images/m_menu.svg") alt="Меню")
    .wrapper.wrapper--head
        .header__item.header__item--left
            button.header__sign_up Sign Up
            a.header__link.active(href="/about") About
            a.header__link(href="/platform") Platform
            a.header__link(href="/partners") Partners
        .header__item.header__item--right
            a.header__logo(href="/")
                img(src=require("../images/logo.png") alt="W-Profit")