.popup#request-demo
    .wrapper.wrapper--popup
        .popup__close
        form.popup__content(action="#")
            h1.title.popup__title Request a demo
            .popup__form
                .popup__row
                    label.popup__input_wrapper
                        input(name="first_name" value="")
                        .popup__input_label First Name
                    label.popup__input_wrapper
                        input(name="last_name" value="")
                        .popup__input_label Last Name
                .popup__row
                    label.popup__input_wrapper
                        input(name="email" value="")
                        .popup__input_label Email
                    label.popup__input_wrapper
                        input(name="company_name" value="")
                        .popup__input_label Company Name
                .popup__row
                    label.popup__input_wrapper
                        input(name="industry_country" value="")
                        .popup__input_label Industry, Country
                    label.popup__input_wrapper
                        input(name="budget" value="")
                        .popup__input_label Monthly Budget USD
                .popup__row
                    label.popup__textarea_wrapper
                        textarea(name="comment")
                        .popup__input_label What are your current pain points and goals in Facebook?
            .popup__checkboxs
                label.popup__checkbox
                    input(name="agreed" type='checkbox')
                    i
                    p I accept the
                        a(href='https://w-profit.com/privacy.html' target='_blank') Terms of Service
            .popup__buttons
                input(type="submit" value="Request a demo").btn.btn--red.btn--large
            p.popup__label Please make sure to fill out all these fields.